.moviesCard {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.moviesCard__container {
  padding-left: 14px;
  display: flex;
  height: 68px;
  justify-content: space-between;
  align-items: center;
}
.moviesCard__info {
  display: flex;
  flex-direction: column;
}
.moviesCard__title {
  margin: 0 0 9px 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.moviesCard__duration {
  margin: 0 0 14px 0;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #a0a0a0;
}

.moviesCard__favorite-button {
  background-color: #f9f9f9;
  border-radius: 36px;
  width: 30px;
  height: 30px;
  background-image: url('../../images/favorite_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.moviesCard__delete-button {
  background-color: #f9f9f9;
  border-radius: 36px;
  width: 30px;
  height: 30px;
  background-image: url('../../images/delete.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.moviesCard__favorite-button_acitve {
  background-color: #2be080;
}

.moviesCard__poster {
  width: 100%;
  height: 203px;
}

@media screen and (max-width: 1279px) {
  .moviesCard__poster {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .moviesCard__poster {
    height: 168px;
  }
}
