.mobile-menu {
  width: 100%;
  height: 100%;
}

.mobile-menu__close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 22px;
  height: 22px;
  background-image: url('../../images/monile-menu-close-icon.svg');
  background-color: transparent;
  background-position: center;
  border: none;
}

@media screen and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .mobile-menu {
    position: fixed;
    top: 0px;
    width: 520px;
    right: 0px;
    background-color: #ffffff;
  }

  .header__mobile-menu-button {
    background-image: url('../../images/menu-mobile-icon.svg');
    background-position: center;
    width: 40px;
    height: 43px;
  }

  .mobile-menu__navigation {
    height: calc(100vh - 250px);
    padding: 160px 0 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    width: 320px;
    height: 100%;
    margin: 0 auto;
  }
}
