.promo {
  min-height: 493px;
  max-width: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 40px;
}

.promo__title {
  font-style: normal;
  font-weight: normal;
  margin: 160px 0 0 0;
  max-width: 730px;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.promo__navigation {
  display: flex;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 1023px) {
  .promo {
    min-height: 834px;
    margin: 0 20px;
  }
  .promo__title {
    margin-top: 350px;
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    margin: 0 14px;
    min-height: 586px;
  }
  .promo__title {
    margin-top: 220px;
    max-width: 292px;
    font-size: 29px;
    line-height: 37px;
  }
}
