.savedMovies {
  padding: 70px 70px 80px 70px;
}
@media screen and (max-width: 1279px) {
  .savedMovies {
    padding: 70px 30px 80px 30px;
  }
}

@media screen and (max-width: 837px) {
  .savedMovies {
    padding: 45px 10px 80px 10px;
  }
}
