.header {
  padding: 18px 30px 38px 30px;
  display: flex;
}

.header__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 44px;
  width: 38px;
  height: 38px;
}

.header__mobile-menu {
  display: flex;
  align-items: center;
}

.header__login-button {
  background-color: #2be080;
  width: 76px;
  height: 32px;
  border-radius: 3px;
}

.header__profile-button {
  background: #f9f9f9;
  width: 100px;
  height: 32px;
  border-radius: 30px;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 21px 30px 41px 21px;
  }
  .header__mobile-menu-button {
    background-image: url('../../images/menu-mobile-icon.svg');
    background-position: center;
    width: 40px;
    height: 43px;
  }
  .header__container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 0 auto;
    padding: 15px 14px 43px 15px;
  }
  .header__logo {
    margin: 0;
  }
  .header__login-button {
    background-color: #2be080;
    width: 54px;
    height: 26px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 1024px) {
  .header__mobile-menu {
    display: none;
  }
}
