.filterCheckbox {
  display: contents;
}

.filterCheckbox__slider {
  position: relative;
  width: 36px;
  height: 20px;
  appearance: none;
  padding: 0 2px;
  background: #c4c4c4;
  border-radius: 20px;
  font-size: 30px;
  margin: 0 14px 0 29px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.filterCheckbox__slider:checked {
  background: #2be080;
}

.filterCheckbox__slider:after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  content: '';
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.filterCheckbox__slider:checked:after {
  left: calc(100% - 18px);
}

@media screen and (max-width: 1023px) {
  .filterCheckbox {
    margin: 0 15px 0 19px;
  }
}

@media screen and (max-width: 767px) {
  .filterCheckbox {
    margin: 0 15px 0 19px;
  }
}
